<%- include("../partials/header") %> 

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>


    </div>
</div>

<h1><%= ground.name %> </h1>

<img src="<%=ground.image%>" alt="">
<p><%= ground.description %> </p>

<p>
        
<a href="/campgrounds/<%= ground._id %>/comments/new " class="btn btn-success">Add a new comment</a>
</p>

<% ground.comments.forEach((comment)=>{ %>
    <p>
        <strong><%=comment.author%> </strong>
        - <%= comment.text %> 
    </p>
<% }) %> 


<a href="/campgrounds">Go back</a>

<%- include("../partials/footer") %>