<%- include("partials/header") %> 

<h1><%= ground.name %> </h1>

<img src="<%=ground.image%>" alt="">
<p><%= ground.description %> </p>

<% ground.comments.forEach((comment)=>{ %>
    <p>
        <strong><%=comment.author%> </strong>
        - <%= comment.text %> 
    </p>
<% }) %> 

<a href="/campgrounds">Go back</a>

<%- include("partials/footer") %>